section{
    background-color: rgb(74, 207, 163);
    border-radius:8px;
    box-shadow: 3px 2px 9px;
    margin: auto;
    width: 300px;
    height: 300px;
    padding: 10px;
}
div{
    margin:5px;
}
header{
    text-align: center;
}
footer{
    margin: 20px;
    text-align: center;
}
button{
    border: transparent;
    border-radius: 3px;
    padding: 3px;
     
}
button:hover{
    background-color: rgb(10, 39, 29);
    color: white;
}